body {
  text-align: center;
}

#gameboard {
  margin: 0px;
  padding: 0px;
  width: 710px;
}

#on-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.container {
  margin-top: 25px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  border: 1px solid black;
}

.square img {
  width: 100%;
  height: auto;
}

.pool {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.highlight {
  background-color: pink;
}